header{
  background-color: #435c71;
  padding: 20px 0px 20px 0px;
  width: 100%;
}

body {
  height: 100vh;
  background-color: #FFFFFF; /*lightblue*/
}

main {
}

.hidden {
  display: none;
}

.main-body {
  padding-left: 10%;
  padding-right: 10%;
}

.box-container {
  background-color: #435c71;
  height: 200px;
  margin: 55px auto auto auto;
  max-width: 177px;
  padding: 10px;
}

.box {
  height: 120px;
  background-color: white;
  margin: 10px;
}

.box-button {
  display: block;
  width: 120px;
  margin: auto;
  margin-top: 15px;
  font-size: 8px;
}

.filter-container {
  background-color: lightpink;
  height: 40px;
}

.report-container, .search-container {
  background-color: white;
  height: 400px;
  overflow-y: scroll;
  padding: 20px;
}

.login-container {
  background-color: #435c71;
  padding: 20px;
  margin: 55px auto auto auto;
  max-width: 300px;
}

.login-button {
  display: block;
  margin: auto;
}