/*
wet asphalt: 34495e
*/


/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #333;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*------------------------------------*/
/* RESUSABLE COMPONENTS */
/*------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.ctr-index {
    background-color: #34495e;
    width: 75%;
    margin: auto;
}

.content {
    max-width: 1140px;
    margin: 100px auto;
}

.sidebar {
    background-color: #82B6EA;
    width: 23%;
    height: 500px;
    float: left;
}

/* --- HEADINGS --- */
h1 {
    text-align: center;
    padding: 50px 0px;
}

h2 {
    text-align: center;
    font-size: 80%;
    padding: 5px 0px;
}

.sidebar h2 {
    color: #fff;
}

.ctr-index h2 {
    text-align: center;
    font-size: 100%;
    color: #fff;
    padding: 10px;
}


/* --- ICONS --- */

.icon-large {
    display: block;
    font-size: 500%;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-large:after {
    display: block;
    height: 2px;
    background: #fff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

/*------------------------------------*/
/* HEADER */
/*------------------------------------*/

header {
    background-color: #34495e;
    width: 100%;
    height: 50px;
    padding: 0px 0px;
}

.header-logo {
    display: block;
    width: 280px;
    height: auto;
    padding-top: 8px;
    margin: auto auto;
}

.nav-logo {
    display: inline-block;
    width: 168px;
    height: auto;
    float: left;
    margin: 14px 0px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 14px;
    font-weight: 300;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 2px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: bottom-border 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fff;
} 

.login-container {
  background-color: #435c71;
  padding: 20px;
  margin: 55px auto auto auto;
  max-width: 300px;
}

.login-btn {
  display: block;
  margin: auto;
}

/*------------------------------------*/
/* LOGIN */
/*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Lato", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    }
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
